.createdcloseButton {
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.createdcloseButton:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.createdusername-input {
  width: 290px;
  height: 20px;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.createdmainboard {
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createdlobbyandusername {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px;
  width: 100%;
  text-align: center;
}

.lobby-code,
.lobby-code:hover {
  color: white !important;
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36) !important;
  pointer-events: none !important;
  cursor: text !important;
}
