.createdcloseButton {
  height: 48px;
  position: absolute;
  top: -40px;
  right: -160px;
}

.username-input {
  width: 290px;
  height: 20px;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0, 0;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.createdmainboard {
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createdlobbyandusername {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.createdmaincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Override any hover effects for lobby code */
.createdlobbyandusername h3 .lobby-code,
.createdlobbyandusername h3 .lobby-code:hover {
  color: white !important;
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36) !important;
  text-stroke: 1px black !important;
  text-transform: none !important;
}
