.start-lobby-container {
  position: relative;
  display: inline-block;
}

.start-lobby-container h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}
