.button-container {
  position: relative;
  width: 640px;
  margin: 0 auto;
  transform: translate(0%, 650%);
  margin-top: 40px;
}

.sign {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -30px;
}

h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.joinalobbytext {
  font-size: 24px;
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36);
  font-family: "Daydream", sans-serif;
  position: absolute;
  width: 255px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: rgb(255, 185, 138);
}

.joinalobbytext:hover {
  color: rgb(255, 219, 156);
}

.button-container:hover {
  transform: translate(0%, 650%) scale(1.1);
  transition: all 0.3s ease;
}
