@font-face {
  font-family: "Daydream";
  src: url("./Daydream.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Daydream", sans-serif; /* Fallback fonts */
}
