@font-face {
  font-family: "04B_03__";
  src: url("04B_03__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Daydream";
  src: url("Daydream.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "04B_03__", sans-serif; /* Primary font */
  font-size: 24px;
}

/* Secondary font class */
.daydream-font {
  font-family: "Daydream", sans-serif !important;
}

/* Proportionally scale headings */
h1 {
  font-size: 48px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}
