.createdcloseButton {
  height: min(48px, 4vw);
  position: absolute;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
}

.createdcloseButton:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.createdusername-input {
  width: min(290px, 25vw);
  height: min(20px, 2vh);
  padding: 0.5vh;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.createdmainboard {
  width: min(700px, 80vw);
  height: min(600px, 80vh);
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(20px, 2vh);
  padding: min(20px, 2vw);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lobbycreationlobbycode {
  font-size: clamp(20px, 32px - 0.8vw, 32px);
  width: 100%;
  text-align: center;
  color: rgb(15, 21, 141) !important;
}
