.settings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 0;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-label {
  text-align: left;
}

select,
input[type="number"] {
  width: 120px;
  padding: 5px;
  text-align: center;
}

input[type="number"] {
  width: 30px;
}

.steps-input {
  width: 60px !important;
}
