.start-lobby-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.startlobbytext {
  font-size: 24px;
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36);
  font-family: "Daydream", sans-serif;
  position: absolute;
  width: 255px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: rgb(255, 185, 138);
  transition: color 0.3s ease;
  white-space: nowrap;
}

.startlobbytext:hover {
  color: rgb(255, 219, 156);
}

.start-lobby-container:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;


}
