.button-container {
  position: absolute;
  width: 640px;
  margin: 0 auto;
  transform: translate(0%, 650%);
  margin-bottom: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.summonlobbypopuptext {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: rgb(255, 185, 138);
}

.summonlobbypopuptext:hover {
  color: rgb(255, 219, 156);
}

.button-container:hover {
  transform: translate(0%, 650%) scale(1.1);
  transition: all 0.3s ease;
}
