.gamecompboard {
  transform: scale(1.3) translate(-12%, 15%);

}

.gamecompwordinput {
  transform: translate(10%, 10%);

}

.gamecompcounter {
  transform: translate(10%, 10%);
}

.gamecomppoints {
  transform: translate(10%, 10%);
}
