.points-counter {
  position: relative;
  display: inline-block;
}

.points-counter img {
  width: 240px;
  height: auto;
}

.points-counter > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2px;
  font-size: 32px;
}

.points-counter > span > span {
  display: inline-block;
  min-width: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
}

@keyframes scoreChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.score-change {
  animation: scoreChange 0.3s ease-in-out;
}
