.rankings-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 300px;
  background-image: url("../../../assets/RankingsBoxV2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.rankings-title {
  left: 50%;
  transform: translate(-50%, -40%);
  position: relative;
  flex: 1;
  width: 350px;
  height: 200px;
  aspect-ratio: 10/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* Container for player slips */
.rankings-box {
  display: flex;
  flex-direction: column;
  gap: 0%;
  flex: 1;
  position: relative;
  margin-top: 5%;
}

/* Individual player slip styling */
.ranking-slip-container {
  position: relative;
  transform: translateY(-400%);
  flex: 0.2;
  margin: 0 auto;
  width: 400px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* Hide empty player slots */
.rankings-box > div:empty {
  display: none;
}
