.rankings-container {
  /* --slip-width: 90%; */
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 300px;
  /* transform: translateX(-25%); */
  background-image: url("../../../assets/RankingsBoxV2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20%;
  left: 50%;
  /* transform: translate(-5%, -5%); */
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));


}

.rankings-title {
  left: 50%;
  transform: translate(-50%, -40%);
  position: relative;
  flex: 1;
  width: 350px;
  height: 200px;
  aspect-ratio: 10/1;
  /* background-image: url("../../../assets/Rankings_Slip.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

/* Container for player slips */
.rankings-box {
  display: flex;
  flex-direction: column;
  gap: 0%;
  flex: 1;
  position: relative;
  margin-top: 5%;
}

/* Individual player slip styling */
.ranking-slip-container {
  position: relative;
  transform: translateY(-400%);
  flex: 0.2;
  /* width: var(--slip-width); */
  margin: 0 auto;
  width: 400px;
  height: 10px;
  /* aspect-ratio: 10/1; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Hide empty player slots */
.rankings-box > div:empty {
  display: none;
}
