  .summoncreditspopuptext {
    font-size: 24px;
    -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36);
    font-family: "Daydream", sans-serif;
    position: absolute;
    width: 165px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: rgb(255, 185, 138);
  }

  .summoncreditspopuptext:hover {
    color: rgb(255, 219, 156);
  }
