/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
*
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
*
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --font-family: "dogicapixelbold", sans-serif;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: normal;
  text-transform: uppercase;
}

/* Text border styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button,
input,
a {
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36);
  text-stroke: 1px black;
  color: rgb(94, 129, 255);
}

/* Disable hover effects for non-interactive elements */
.settings-label:hover,
.settings-row span:hover,
.settings-container span:hover,
.createdlobbyandusername:hover,
.createdlobbyandusername h3:hover,
.createdlobbyandusername span:hover,
.settings-row .settings-label:hover,
option:hover {
  color: rgb(94, 129, 255) !important;
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36) !important;
  text-stroke: 1px black !important;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
span:hover,
div:hover,
button:hover,
input:hover,
a:hover {
  -webkit-text-stroke: 1px hwb(0 0% 100% / 0.36);
  text-stroke: 1px black;
  color: rgb(255, 219, 156);
}

input::placeholder {
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-stroke: 1px rgb(255, 255, 255);
  color: rgba(156, 178, 255, 0.908);
}

button {
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  color: white;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
