.selectionmainboard {
  width: min(1200px, 95vw);
  height: auto;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: min(10px, 1vw);
  border: min(2px, 0.2vw) solid rgb(255, 255, 255);
  box-shadow: 0 0 min(10px, 1vw) rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  padding-top: min(50px, 5vh);
  padding-bottom: min(50px, 5vh);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.selectionmainboard::-webkit-scrollbar {
  width: min(10px, 1vw);
}

.createdtitle {
  order: -1;
  color: var(--primary);
  font-size: min(48px, 5vw);
  text-align: center;
  margin-bottom: 3vw;
  cursor: default;
}

.board-options {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(80px, 5vw);
  padding: 0 min(20px, 2vw);
  flex: 1;
}

.board-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: min(20px, 2vw);
  padding-left: min(20px, 2vw);
  padding-right: min(20px, 2vw);
  background-image: url("../../../assets/BoardSelectionSign.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: min(8px, 1vw);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  position: relative;
  width: min(400px, 34vw);
  height: min(600px, 50vw);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.board-option > * {
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin-top: min(7%, 3vh);
}

.board-option:hover {
  transform: scale(1.05);
}

.board-option p {
  color: rgb(255, 255, 255);
  font-size: min(24px, 1.5vw);
  line-height: 1.4;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: min(8px, 1vh) auto;
}

.board-option p strong {
  font-size: min(26px, 2.2vw);
  font-weight: bold;
  color: rgb(255, 203, 212);
}

.selectheader {
  font-size: min(32px, 4vw);
  font-weight: bold;
  color: rgb(255, 165, 180);
  margin-bottom: min(12px, 1.5vh);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
